@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

body{
    background-color: white;
}

section,
footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: black;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #113793;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

nav a img{
    max-width: 100px;
}

nav ul a{
    color: #113793;
    margin: 8 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    padding: 8px 25px;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: #113793;
    height: 5px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;   
}

.banner .banner-text{
    margin: 200px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: white;
}

.banner.bannr-text p{
    font-size: 20px;
    color: bisque;
    font-weight: lighter;
    margin: 18px 0;
}

section.hero-site{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FACB03;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 500;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #FACB03;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

header .hero-site button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #FACB03;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .hero-site button:hover{
    background-color: #FACB03;
    color: black; 
}

/* ESTILO NOSSOS PRODUTOS*/
section.produtos{
    padding: 40px 4%;
}

section.produtos .flex{
    display: flex;
    gap: 65px;
    justify-content: space-between;
}

.produtos .titulo{
    text-align: center;
}

.produtos .produtos-box{
    flex: 0 0 calc(20% - 20.5px);
    color: #FACB03;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    transition: .2s;
}

.produtos .produtos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #FACB03;
}

.produtos .produtos-box i{
    font-size: 50px;
    color: #FACB03;
}

.produtos .produtos-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.produtos .produtos-box p {
    margin: 15px 0; /* Adicione uma margem para separar os elementos */
}

/* BENEFICIOS */
.beneficio{
    background-color: #FACB03;
}

.beneficio .titulo{
    text-align: center;
    margin-bottom: 20px;
}

.beneficio .titulo h1{
    font-size: 45px;
    margin-bottom: 10px;
}

.beneficio .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.beneficio .beneficio-item{
    text-align: center;
    margin: 15px;
    color: black;
}

.beneficio .beneficio-item img{
    background-color: #113793;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px; 
}

.beneficio .beneficio-item h3{
    font-size: 18px;
    margin-bottom: 10px;
}

/* Casos de Sucesso */
.depoimentos h3{
    text-align: center;
    color: #FACB03;
}

.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
    color: #FACB03;
}

.cards{
    display: flex;
    justify-content: center;
}

.depoimentos .card-item{
    background-color: #FACB03;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item .nome-user{
    color: #113793;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .agente{
    color: #113793;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user{
    color: #113793;
    font-size: 13px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #113793;
}

.depoimentos .card-item .estrelas i{
    color: #113793;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentos .card-item:hover{
    background-color: #FACB03;
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .agente,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
    color: #113793;
}

/* ESTILO RODAPÉ */
footer{
    background-color: #FACB03;
}

footer .flex{
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

footer .line-footer{
    padding: 2px 0;
}

footer .line-footer img{
    max-width: 100px; 
}

.btn-social button{
    width: 30px;
    height: 60px;
    border-radius: 40%;
    border: none;
    background-color: #FACB03;
    color: #113793;
    font-size: 20px;
    cursor: pointer;
    transition: 1.2s;
}
